.refresh{
    margin-top: 24px;
}
.leaderboard-container{
    text-align: center;
    padding-top: 50px;
}
table{
    margin: auto;
}
.WON {
    background-color: green;
}
.LOSS {
    background-color: red;
}
.TIE {
    background-color: lightblue;
}